<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.logicalStructureTypes">
      <logicalStructureType
            class="tools.mdsd.cdo.debug.variablesview.CDOObjectLogicalStructureType"
            id="tools.mdsd.cdo.debug.variablesview.objectlogicalstructuretype"
            modelIdentifier="org.eclipse.jdt.debug">
      </logicalStructureType>
   </extension>

</plugin>
