<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.logicalStructureTypes">
      <logicalStructureType
            class="de.cooperateproject.eclipse.cdodebugutils.variablesview.CDOObjectLogicalStructureType"
            id="de.cooperateproject.eclipse.cdodebug.objectlogicalstructuretype"
            modelIdentifier="org.eclipse.jdt.debug">
      </logicalStructureType>
   </extension>

</plugin>
