<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.cdo.server.appExtensions">
      <appExtension
            class="de.cooperateproject.repository.commithistoryhandler.CDOCommitHistoryAppExtension">
      </appExtension>
   </extension>
   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="de.cooperateproject.repository.commithistoryhandler.protocol.CDOCommitHistoryProtocolFactory"
            productGroup="org.eclipse.net4j.serverProtocols"
            type="CDO_COMMIT_HISTORY">
      </factory>
   </extension>

</plugin>
